<div class="ibox ">
    <div class="ibox-title">
        <h5>Question List</h5>
    </div>
    <div class="ibox-content">
        <p class="m-b-lg">
            This list should update with the questions created.
            The reordering here should update the questions tab too.
        </p>
        <div class="dd" id="nestable2">
            <ol class="dd-list">
              <li class="dd-item" data-id="1">
                  <div class="dd-handle">
                      <span class="pull-right"> 10 pts </span>
                      <span class="label label-info"><i class="fa fa-hand-pointer-o"></i></span>
                      1 - What is the name of the...
                  </div>
              </li>
              <li class="dd-item" data-id="2">
                  <div class="dd-handle">
                      <span class="pull-right"> 5 pts </span>
                      <span class="label label-info"><i class="fa fa-hand-pointer-o"></i></span>
                      2 - Explain the importance of...
                  </div>
              </li>
              <li class="dd-item" data-id="3">
                  <div class="dd-handle">
                      <span class="pull-right"> 10 pts </span>
                      <span class="label label-info"><i class="fa fa-hand-pointer-o"></i></span>
                      3 - When did the...
                  </div>
              </li>
              <li class="dd-item" data-id="4">
                  <div class="dd-handle">
                      <span class="pull-right"> 20 pts </span>
                      <span class="label label-info"><i class="fa fa-hand-pointer-o"></i></span>
                      4 - What was the main reason for...
                  </div>
              </li>
            </ol>
        </div>
    </div>
</div>
