<% provide(:title, "My Calendar") %>


<br/>
<div class="row">
    <div class="col-md-4">

    <div id='external-events'>
        <p>Drag a event and drop into callendar.</p>
        <div class='external-event navy-bg'>History 101</div>
        <div class='external-event navy-bg'>Test Review</div>
        <div class='external-event navy-bg'>Office Hours</div>
        <p class="m-t">
            <input type='checkbox' id='drop-remove' class="icheck-me" /> <label for='drop-remove'>remove after drop</label>
        </p>
    </div>
  </div>

  <div class="col-md-8">
      <div id="my_calendar"></div>
  </div>
</div>
