<% provide(:title, "Oshie Forums") %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
      <h2>Forums</h2>
    </div>
</div>

<div class="row">
<div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="ibox-content m-b-sm border-bottom">
            <div class="p-xs">
                <div class="pull-left m-r-md">
                    <i class="fa fa-globe text-navy mid-icon"></i>
                </div>
                <h2>Welcome to the Oshie forums</h2>
                <span>Talk about all things Oshie!</span>
            </div>
        </div>

        <div class="ibox-content forum-container">

            <div class="forum-title">
                <div class="pull-right forum-desc">
                    <samll>Total posts: 320,800</samll>
                </div>
                <h3>General subjects</h3>
            </div>

            <div class="forum-item active">
                <div class="row">
                    <div class="col-md-9">
                        <div class="forum-icon">
                            <i class="fa fa-shield"></i>
                        </div>
                        <a href=""
                          class="forum-item-title">General Discussion</a>
                    <div class="forum-sub-title">Anything related to Oshie and its tools.</div>
                </div>
                <div class="col-md-1 forum-info">
                            <span class="views-number">
                                1216
                            </span>
                    <div>
                        <small>Views</small>
                    </div>
                </div>
                <div class="col-md-1 forum-info">
                            <span class="views-number">
                                368
                            </span>
                    <div>
                        <small>Topics</small>
                    </div>
                </div>
                <div class="col-md-1 forum-info">
                            <span class="views-number">
                                140
                            </span>
                    <div>
                        <small>Posts</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="forum-item">
            <div class="row">
                <div class="col-md-9">
                    <div class="forum-icon">
                        <i class="fa fa-bolt"></i>
                    </div>
                    <a href=""
                      class="forum-item-title">Introductions</a>
                <div class="forum-sub-title">New to the community? Please stop by, say hi and tell us a bit about yourself. </div>
            </div>
            <div class="col-md-1 forum-info">
                            <span class="views-number">
                                890
                            </span>
                <div>
                    <small>Views</small>
                </div>
            </div>
            <div class="col-md-1 forum-info">
                            <span class="views-number">
                                120
                            </span>
                <div>
                    <small>Topics</small>
                </div>
            </div>
            <div class="col-md-1 forum-info">
                            <span class="views-number">
                                154
                            </span>
                <div>
                    <small>Posts</small>
                </div>
            </div>
        </div>
    </div>
    <div class="forum-item active">
        <div class="row">
            <div class="col-md-9">
                <div class="forum-icon">
                    <i class="fa fa-calendar"></i>
                </div>
                <a href=""
                  class="forum-item-title">Announcements</a>
            <div class="forum-sub-title">This forum features announcements from the community staff. If there is a new post in this forum, please check it out. </div>
        </div>
        <div class="col-md-1 forum-info">
                            <span class="views-number">
                                680
                            </span>
            <div>
                <small>Views</small>
            </div>
        </div>
        <div class="col-md-1 forum-info">
                            <span class="views-number">
                                124
                            </span>
            <div>
                <small>Topics</small>
            </div>
        </div>
        <div class="col-md-1 forum-info">
                            <span class="views-number">
                                61
                            </span>
            <div>
                <small>Posts</small>
            </div>
        </div>
    </div>
</div>
<div class="forum-item">
    <div class="row">
        <div class="col-md-9">
            <div class="forum-icon">
                <i class="fa fa-star"></i>
            </div>
            <a href=""
              class="forum-item-title">Staff Discussion</a>
        <div class="forum-sub-title">This forum is for private, staff member only discussions, usually pertaining to the community itself. </div>
    </div>
    <div class="col-md-1 forum-info">
                            <span class="views-number">
                                1450
                            </span>
        <div>
            <small>Views</small>
        </div>
    </div>
    <div class="col-md-1 forum-info">
                            <span class="views-number">
                                652
                            </span>
        <div>
            <small>Topics</small>
        </div>
    </div>
    <div class="col-md-1 forum-info">
                            <span class="views-number">
                                572
                            </span>
        <div>
            <small>Posts</small>
        </div>
    </div>
</div>
</div>

<div class="forum-title">
<div class="pull-right forum-desc">
    <samll>Total posts: 17,800,600</samll>
</div>
<h3>Other subjects</h3>
</div>

<div class="forum-item">
<div class="row">
    <div class="col-md-9">
        <div class="forum-icon">
            <i class="fa fa-users"></i>
        </div>
        <a href=""
          class="forum-item-title">Class Design</a>
    <div class="forum-sub-title">Talk about your classes, how to mak them better. Share ideas with other creators.</div>
</div>
<div class="col-md-1 forum-info">
                            <span class="views-number">
                                1516
                            </span>
    <div>
        <small>Views</small>
    </div>
</div>
<div class="col-md-1 forum-info">
                            <span class="views-number">
                                238
                            </span>
    <div>
        <small>Topics</small>
    </div>
</div>
<div class="col-md-1 forum-info">
                            <span class="views-number">
                                180
                            </span>
    <div>
        <small>Posts</small>
    </div>
</div>
</div>
        </div>
<div class="forum-item">
<div class="row">
    <div class="col-md-9">
        <div class="forum-icon">
            <i class="fa fa-pencil-square-o"></i>
        </div>
        <a href=""
          class="forum-item-title">Evaluations Design</a>
    <div class="forum-sub-title">Share your idea for the perfect evaluation, collaborate with other users.</div>
</div>
<div class="col-md-1 forum-info">
                            <span class="views-number">
                                1766
                            </span>
    <div>
        <small>Views</small>
    </div>
</div>
<div class="col-md-1 forum-info">
                            <span class="views-number">
                                321
                            </span>
    <div>
        <small>Topics</small>
    </div>
</div>
<div class="col-md-1 forum-info">
                            <span class="views-number">
                                42
                            </span>
    <div>
        <small>Posts</small>
    </div>
</div>
</div>
        </div>
<div class="forum-item">
<div class="row">
    <div class="col-md-9">
        <div class="forum-icon">
            <i class="fa fa-list-alt"></i>
        </div>
        <a href=""
          class="forum-item-title">Lessons Design</a>
    <div class="forum-sub-title">Need help creating the perfect lesson?</div>
</div>
<div class="col-md-1 forum-info">
                            <span class="views-number">
                                765
                            </span>
    <div>
        <small>Views</small>
    </div>
</div>
<div class="col-md-1 forum-info">
                            <span class="views-number">
                                90
                            </span>
    <div>
        <small>Topics</small>
    </div>
</div>
<div class="col-md-1 forum-info">
                            <span class="views-number">
                                11
                            </span>
    <div>
        <small>Posts</small>
    </div>
</div>
</div>
        </div>
<div class="forum-item">
<div class="row">
    <div class="col-md-9">
        <div class="forum-icon">
            <i class="fa fa-university"></i>
        </div>
        <a href=""
          class="forum-item-title">Open School</a>
    <div class="forum-sub-title">Show off your creation to the world!</div>
</div>
<div class="col-md-1 forum-info">
                            <span class="views-number">
                                2550
                            </span>
    <div>
        <small>Views</small>
    </div>
</div>
<div class="col-md-1 forum-info">
                            <span class="views-number">
                                122
                            </span>
    <div>
        <small>Topics</small>
    </div>
</div>
<div class="col-md-1 forum-info">
                            <span class="views-number">
                                92
                            </span>
    <div>
        <small>Posts</small>
    </div>
</div>
</div>
        </div>

        </div>
        </div>
        </div>
        </div>
