<div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">My Rewards</h4>
                <small class="font-bold">Select your rewards for reaching your goals!</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                      <strong>Level 1 Rewards  </strong><span class="badge badge-success">
                        <i class="fa fa-star-o"></i> Reward Claimed!</span>
                        <div class="radio radio-success">
                            <input type="radio" name="radio1" id="radio1" value="option1" checked disabled>
                            <label for="radio1">
                                Starbucks Gift Card
                            </label>
                        </div>
                        <div class="radio">
                            <input type="radio" name="radio1" id="radio2" value="option2" disabled>
                            <label for="radio2">
                                Coffee Bean Gift Card
                            </label>
                        </div>
                        <div class="radio">
                            <input type="radio" name="radio1" id="radio3" value="option3" disabled>
                            <label for="radio3">
                                Movie Theater discount
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-4">
                      <strong>Level 2 Rewards  </strong><span class="badge badge-success">
                        <i class="fa fa-star-o"></i> Reward Claimed!</span>
                        <div class="radio">
                            <input type="radio" name="radio2" id="radio4" value="option1"  disabled>
                            <label for="radio1">
                                Amazon Gift Card
                            </label>
                        </div>
                        <div class="radio radio-success">
                            <input type="radio" name="radio2" id="radio5" value="option2" checked disabled>
                            <label for="radio2">
                                iTunes Discount Coupon
                            </label>
                        </div>
                        <div class="radio">
                            <input type="radio" name="radio2" id="radio6" value="option3" disabled>
                            <label for="radio3">
                                Target Discount Coupon
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-4">
                      <strong>Level 3 Rewards  </strong><span class="badge badge-success">
                        <i class="fa fa-star-o"></i> Reward Claimed!</span>
                        <div class="radio radio-success">
                            <input type="radio" name="radio3" id="radio7" value="option1"  checked disabled>
                            <label for="radio1">
                                Uber Eats Coupon
                            </label>
                        </div>
                        <div class="radio">
                            <input type="radio" name="radio3" id="radio8" value="option2"  disabled>
                            <label for="radio2">
                                Papa John's Coupon
                            </label>
                        </div>
                        <div class="radio">
                            <input type="radio" name="radio3" id="radio9" value="option3" disabled>
                            <label for="radio3">
                                School Cafeteria Discount
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                      <strong>Level 4 Rewards  </strong><span class="badge badge-info">
                        <i class="fa fa-star-o"></i> Reward Unlocked</span>
                        <div class="radio radio-success">
                            <input type="radio" name="radio4" id="radio10" value="option1" checked >
                            <label for="radio1">
                                Amazon Coupon Code
                            </label>
                        </div>
                        <div class="radio radio-success">
                            <input type="radio" name="radio4" id="radio11" value="option2" >
                            <label for="radio2">
                                Target Coupon Code
                            </label>
                        </div>
                        <div class="radio radio-success">
                            <input type="radio" name="radio4" id="radio12" value="option3" >
                            <label for="radio3">
                                Movie Theater 2 for 1
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-4">
                      <strong>Level 5 Rewards  </strong><span class="badge badge-danger">
                        <i class="fa fa-lock"></i> Reward Locked</span>
                        <div class="radio radio-success">
                            <input type="radio" name="radio5" id="radio13" value="option1"  >
                            <label for="radio1">
                                Amazon Gift Card
                            </label>
                        </div>
                        <div class="radio radio-success">
                            <input type="radio" name="radio5" id="radio14" value="option2" checked >
                            <label for="radio2">
                                PlayStation Store Coupon
                            </label>
                        </div>
                        <div class="radio radio-success">
                            <input type="radio" name="radio5" id="radio15" value="option3" >
                            <label for="radio3">
                                Target Discount Coupon
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-4">
                      <strong>Level 6 Rewards  </strong><span class="badge badge-danger">
                        <i class="fa fa-lock"></i> Reward Locked</span>
                        <div class="radio radio-success">
                            <input type="radio" name="radio6" id="radio16" value="option1" checked>
                            <label for="radio1">
                                X Box One %50 off
                            </label>
                        </div>
                        <div class="radio radio-success">
                            <input type="radio" name="radio6" id="radio17" value="option2">
                            <label for="radio2">
                                Target 50% off
                            </label>
                        </div>
                        <div class="radio radio-success">
                            <input type="radio" name="radio6" id="radio18" value="option3">
                            <label for="radio3">
                                Amazon Coupon
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary rewardChange" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
