<div id="vertical-timeline" class="vertical-container dark-timeline ">

  <div class="vertical-timeline-block">
    <div class="vertical-timeline-icon lazur-bg">
      <i class="fa fa-coffee"></i>
    </div>

    <div class="vertical-timeline-content">
      <p><h2>Level 1 - Starbucks Gift Card</h2><span class="badge badge-success">
        <i class="fa fa-star-o"></i> Reward Unlocked!</span></p>
      <p>Achieve a higher grade in your next homework assignment for a $20
         Starbucks gift card!</p>
      <a href="#" class="btn btn-sm btn-primary reward1">Claimed!</a>
      <span class="vertical-date">
          Claimed <br />
          <small>Dec 24</small>
      </span>
    </div>
  </div>

  <div class="vertical-timeline-block">
    <div class="vertical-timeline-icon navy-bg">
      <i class="fa fa-music"></i>
    </div>

    <div class="vertical-timeline-content">
      <p><h2>Level 2 - iTunes Discount Code</h2><span class="badge badge-success">
        <i class="fa fa-star-o"></i> Reward Unlocked!</span></p>
      <p>Get an A in your Midterm 1 for a 10% discount in your next iTunes
      purchase!</p>
      <a href="#" class="btn btn-sm btn-primary reward2">Claimed!</a>
      <span class="vertical-date">
          Claimed <br />
          <small>Jan 3</small>
      </span>
    </div>
  </div>

  <div class="vertical-timeline-block">
    <div class="vertical-timeline-icon lazur-bg">
      <i class="fa fa-cutlery"></i>
    </div>

    <div class="vertical-timeline-content">
      <p><h2>Level 3 - Uber Eats</h2><span class="badge badge-success">
        <i class="fa fa-star-o"></i> Reward Unlocked!</span></p>
      <p>Achieve a higher grade in your next homework assignment for a %10
         Uber Eats coupon</p>
      <a href="#" class="btn btn-sm btn-primary reward3">Claimed!</a>
      <span class="vertical-date">
          Claimed <br />
          <small>Jan 7</small>
      </span>
    </div>
  </div>

  <div class="vertical-timeline-block">
    <div class="vertical-timeline-icon navy-bg">
      <i class="fa fa-shopping-bag"></i>
    </div>

    <div class="vertical-timeline-content">
      <p><h2>Level 4 - Amazon Coupon</h2><span class="badge badge-success">
        <i class="fa fa-star-o"></i> Reward Unlocked!</span></p>
      <p>Get a higher grade in your Midterm 2 for a 10% coupon for your next Amazon
      purchase!</p>
      <a href="#" class="btn btn-sm btn-info reward4">Claim my Reward!</a>
      <span class="vertical-date">
          Unlocked <br />
          <small>Jan 15</small>
      </span>
    </div>
  </div>

  <div class="vertical-timeline-block">
    <div class="vertical-timeline-icon lazur-bg">
      <i class="fa fa-shopping-bag"></i>
    </div>

    <div class="vertical-timeline-content">
      <p><h2>Level 5 - Playstation Store Coupon</h2><span class="badge badge-danger">
        <i class="fa fa-lock"></i> Reward Locked</span></p>
      <p>Get a 100% in your last Homework assignment for a 60% off Playstation Store games. </p>
      <a href="#" class="btn btn-sm btn-danger disabled">Locked</a>
      <span class="vertical-date">
          Locked <br />
      </span>
    </div>
  </div>

  <div class="vertical-timeline-block">
    <div class="vertical-timeline-icon navy-bg">
      <i class="fa fa-shopping-bag"></i>
    </div>

    <div class="vertical-timeline-content">
      <p><h2>Level 6 - Amazon Coupon</h2><span class="badge badge-danger">
        <i class="fa fa-lock"></i> Reward Locked</span></p>
      <p>Get an A+ in your final class grade for a $100 credit towards your next Amazon purchase!</p>
      <a href="#" class="btn btn-sm btn-danger disabled">Locked</a>
      <span class="vertical-date">
          Locked <br />
      </span>
    </div>
  </div>

</div>
