<% provide(:title, "My Dashboard") %>

<div class="wrapper wrapper-content">
  <div class="row">
    <!-- profile -->
    <div class="col-md-2">
      <%= render :partial => 'profile' %>
    </div><!-- col-md -->
    <!-- profile -->
    <div class="col-md-6">
      <!-- <%= render :partial => 'calendar' %> -->
    </div><!-- col-md -->
    <div class="col-md-10">
      <%= render :partial => 'content' %>
      <%= render :partial => 'calendar' %>
    </div><!-- col-md -->
  </div><!-- row -->

</div><!-- wrapper -->
