<% provide(:title, "My Dashboard") %>

<div class="wrapper wrapper-content">
  <div class="row">
    <!-- profile -->
    <div class="col-md-4">
      <%= render :partial => 'profile' %>
    </div><!-- col-md -->
    <!-- profile -->
    <div class="col-md-8">
      <%= render :partial => 'content' %>
      <%= render :partial => 'calendar' %>
    </div><!-- col-md -->
  </div><!-- row -->
</div><!-- wrapper -->
