<div class="panel-heading">
  <div class="panel-options">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab-1" data-toggle="tab">Assesments</a></li>
      <li class=""><a href="#tab-2" data-toggle="tab">Students</a></li>
      <li class=""><a href="#tab-3" data-toggle="tab">Announcements</a></li>
      <li class=""><a href="#tab-4" data-toggle="tab">Class Stats</a></li>
    </ul>
  </div>
</div>
