<div class="tab-pane active" id="tab-1">
  <table class="table table-striped">
    <thead>
      <tr>
          <th>Status</th>
          <th>Title</th>
          <th>Due Date</th>
          <th>Comments</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <span class="label label-warning">
          <i class="fa fa-exclamation"></i> Due</span>
        </td>
        <td>
          Midterm 2
        </td>
        <td>
          12/07/2017
        </td>
        <td>
          <p class="small">
            Second midterm covering chapters 3-8
          </p>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td>
          <span class="label label-warning">
          <i class="fa fa-exclamation"></i> Due</span>
        </td>
        <td>
          Homework 1
        </td>
        <td>
          12/07/2017
        </td>
        <td>
          <p class="small">
            First homework. Chpaters 1-3
          </p>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td>
          <span class="label label-primary">
          <i class="fa fa-check"></i> Completed</span>
        </td>
        <td>
          Midterm 1
        </td>
        <td>
          10/07/2017
        </td>
        <td>
          <p class="small">
            Midterm one covering chapter 1-3
          </p>
        </td>
      </tr>
    </tbody>

</table>
</div>
