<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
          <h4>Class Description</h4>
      </div>
      <div class="ibox-content">
        <p class="small">
          History 101 covers American history from the 1900 until today.
        </p>
        <button class="btn btn-white btn-xs">
        <i class="fa fa-pencil"></i>Edit</button>
      </div>
    </div>
  </div>
</div>

</br>

<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h4>Class Tags</h4>
      </div>
      <div class="ibox-content">
        <input class="tagsinput form-control" type="text" value="History,US,1900"/>
      </div>
    </div>
  </div>
</div>

</br>

<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h4>Class Files</h4>
      </div>
      <div class="ibox-content">
        <ul class="list-unstyled project-files">
          <li><a href=""><i class="fa fa-file"></i> Homework1.docx</a>
            <button class="btn btn-white btn-xs pull-right demo4" data-toggle="tooltip"
            data-placement="top" title="" data-original-title="Move to trash">
            <i class="fa fa-trash-o"></i> </button>
          </li>
        </ul>

        <p>
            <strong>Dropzone.js</strong> is a light weight JavaScript library that turns an HTML element into a dropzone. This means that a user can drag and drop a file onto it, and the file gets uploaded to the server via AJAX.
        </p>

        <form action="#" class="dropzone" id="dropzoneForm">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
