<div id="tab-4" class="tab-pane">
    <div class="panel-body">

      <div class="row">
        <div class="col-md-12">
              <p>
                  <strong>Dropzone.js</strong> is a light weight JavaScript library that turns an HTML element into a dropzone. This means that a user can drag and drop a file onto it, and the file gets uploaded to the server via AJAX.
              </p>

              <form action="#" class="dropzone" id="dropzoneForm">
                  <div class="fallback">
                      <input name="file" type="file" multiple />
                  </div>
              </form>
        </div>
      </div>
<div class="hr-line-dashed"></div>
      <div class="row">
      <div class="col-lg-3">
          <div class="ibox float-e-margins">
              <div class="ibox-content border-left-right">
                  <div class="file-manager">
                      <h5>Show</h5>
                      <a href="#" class="file-control active">All</a>
                      <a href="#" class="file-control">Documents</a>
                      <a href="#" class="file-control">Audio</a>
                      <a href="#" class="file-control">Images</a>
                      <div class="hr-line-dashed"></div>


                      <h5>Folders</h5>
                      <ul class="folder-list" style="padding: 0">
                          <li><a href=""><i class="fa fa-folder"></i>Assingments</a></li>
                          <li><a href=""><i class="fa fa-folder"></i>Pictures</a></li>
                          <li><a href=""><i class="fa fa-folder"></i>Videos</a></li>
                          <li><a href=""><i class="fa fa-folder"></i>Illustrations</a></li>
                      </ul>
                      <div class="clearfix"></div>
                  </div>
              </div>
          </div>
      </div>
      </div>

    </div>
</div>
