<div id="tab-1" class="tab-pane active">

    <div class="pull-right">
        <div class="tooltip-demo">
            <button class="btn btn-white btn-xs lesson_visible" data-toggle="tooltip"
            data-placement="left" title="">
            <i class="fa fa-plug"></i>Go Live!</button>
            <button class="btn btn-white btn-xs" data-toggle="tooltip"
            data-placement="top" title="Mark as read">
            <i class="fa fa-eye"></i> </button>
            <button class="btn btn-white btn-xs" data-toggle="tooltip"
            data-placement="top" title="" data-original-title="Mark as important">
            <i class="fa fa-exclamation"></i> </button>
            <button class="btn btn-white btn-xs lesson_delete" data-toggle="tooltip"
            data-placement="top" title="" data-original-title="">
            <i class="fa fa-trash-o"></i> </button>

        </div>
    </div>
    <div class="small text-muted">
        <i class="fa fa-clock-o"></i> Friday, 12 April 2014, 12:32 am
    </div>

    <h1>
        The Main Function in C++
    </h1>

    <p>
     The main function is the basic function in a C++ program.
    </p>
    <p>
        Below is an example that illustrates the power of
        functions in C++ by taking arguments.
    </p>

    <textarea id="code1">

// Code goes here

// For demo purpose - animation css script
function animationHover(element, animation) {
element = $(element);
element.hover(
function () {
element.addClass('animated ' + animation);
},
function () {
//wait for animation to finish before removing classes
window.setTimeout(function () {
  element.removeClass('animated ' + animation);
}, 2000);
});
}

    </textarea>

    <div class="m-t-lg">
        <p>
            <span><i class="fa fa-paperclip"></i> 2 attachments - </span>
            <a href="#">Download all</a>
        </p>

        <div class="attachment">
            <div class="file-box">
                <div class="file">
                    <a href="#">
                        <span class="corner"></span>

                        <div class="icon">
                            <i class="fa fa-file"></i>
                        </div>
                        <div class="file-name">
                            Lesson1.doc
                            <br>
                            <small>Added: Jan 11, 2014</small>
                        </div>
                    </a>
                </div>

            </div>
            <div class="file-box">
                <div class="file">
                    <a href="#">
                        <span class="corner"></span>

                        <div class="icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="file-name">
                            Data.xls
                            <br>
                            <small>Added: May 13, 2015</small>
                        </div>
                    </a>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
