<ul class="list-group elements-list">
    <li class="list-group-item active">
        <a data-toggle="tab" href="#tab-1">
            <strong>Computer Science Example</strong>
            <div class="small m-t-xs">
                <p>
                  The basic C++ function
                </p>
                <p class="m-b-none">
                    <i class="fa fa-map-marker"></i> CSS 101
                </p>
            </div>
        </a>
    </li>
    <li class="list-group-item">
        <a data-toggle="tab" href="#tab-2">
            <strong>History of European Languages</strong>
            <div class="small m-t-xs">
                <p class="m-b-xs">
                    The family of languages from Europe
                    <br />
                </p>
                <p class="m-b-none">
                    <span class="label pull-right label-primary">Important</span>
                    <i class="fa fa-map-marker"></i> History 10
                </p>
            </div>
        </a>
    </li>
    <li class="list-group-item">
        <a data-toggle="tab" href="#tab-3">
            <strong>History of Microsoft</strong>
            <div class="small m-t-xs">
                <p class="m-b-xs">
                    The early days of Microsoft
                </p>
                <p class="m-b-none">
                  <span class="label pull-right label-success">New</span>
                    <i class="fa fa-map-marker"></i>Business 2
                </p>
            </div>
        </a>
    </li>
    <li class="list-group-item">
        <a data-toggle="tab" href="#tab-4">
            <strong class="label label-success"><i class="fa fa-plus"></i>
              Add New Slide</strong>
        </a>
    </li>
</ul>
