<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>History 101</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Lesson 1</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="fh-breadcrumb">

    <div class="fh-column">
        <div class="full-height-scroll">
            <ul class="list-group elements-list">
                <li class="list-group-item active">
                    <a data-toggle="tab" href="#tab-1">
                        <strong>Computer Science Example</strong>
                        <div class="small m-t-xs">
                            <p>
                              The basic C++ function
                            </p>
                            <p class="m-b-none">
                                <i class="fa fa-map-marker"></i> CSS 101
                            </p>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a data-toggle="tab" href="#tab-2">
                        <strong>History of European Languages</strong>
                        <div class="small m-t-xs">
                            <p class="m-b-xs">
                                The family of languages from Europe
                                <br />
                            </p>
                            <p class="m-b-none">
                                <span class="label pull-right label-primary">Important</span>
                                <i class="fa fa-map-marker"></i> History 10
                            </p>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a data-toggle="tab" href="#tab-3">
                        <strong>History of Microsoft</strong>
                        <div class="small m-t-xs">
                            <p class="m-b-xs">
                                The early days of Microsoft
                            </p>
                            <p class="m-b-none">
                              <span class="label pull-right label-success">New</span>
                                <i class="fa fa-map-marker"></i>Business 2
                            </p>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a data-toggle="tab" href="#tab-4">
                        <small class="pull-right text-muted"> 16.02.2015</small>
                        <strong>Mark Smith</strong>
                        <div class="small m-t-xs">
                            <p class="m-b-xs">
                                It was popularised in the 1960s with the release of Letraset sheets
                            </p>
                            <p class="m-b-none">
                                <i class="fa fa-map-marker"></i> San Francisko 12/100
                            </p>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a data-toggle="tab" href="#tab-1">
                        <small class="pull-right text-muted"> 21.04.2015</small>
                        <strong>Monica Novak</strong>
                        <div class="small m-t-xs">
                            <p class="m-b-xs">
                                Printer took a galley of type and scrambled.
                            </p>
                            <p class="m-b-none">
                                <i class="fa fa-map-marker"></i> New York 15/43
                            </p>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a data-toggle="tab" href="#tab-2">
                        <small class="pull-right text-muted"> 03.12.2015</small>
                        <strong>Jack Smith</strong>
                        <div class="small m-t-xs">
                            <p class="m-b-xs">
                                Also the leap into electronic typesetting, remaining.
                            </p>
                            <p class="m-b-none">
                                <i class="fa fa-map-marker"></i> Sant Fe 10/106
                            </p>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a data-toggle="tab" href="#tab-3">
                        <small class="pull-right text-muted"> 08.04.2015</small>
                        <strong>Michael Jackson</strong>
                        <div class="small m-t-xs">
                            <p class="m-b-xs">
                                Look even slightly believable. If you are going to use a passage of.
                            </p>
                            <p class="m-b-none">
                                <i class="fa fa-map-marker"></i> Berlin 120R/15
                            </p>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a data-toggle="tab" href="#tab-4">
                        <small class="pull-right text-muted"> 16.02.2015</small>
                        <strong>Mark Smith</strong>
                        <div class="small m-t-xs">
                            <p class="m-b-xs">
                                It was popularised in the 1960s with the release of Letraset sheets
                            </p>
                            <p class="m-b-none">
                                <i class="fa fa-map-marker"></i> San Francisko 12/100
                            </p>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a data-toggle="tab" href="#tab-1">
                        <small class="pull-right text-muted"> 21.04.2015</small>
                        <strong>Monica Novak</strong>
                        <div class="small m-t-xs">
                            <p class="m-b-xs">
                                Printer took a galley of type and scrambled.
                            </p>
                            <p class="m-b-none">
                                <i class="fa fa-map-marker"></i> New York 15/43
                            </p>
                        </div>
                    </a>
                </li>


            </ul>

        </div>
    </div>

    <div class="full-height">
        <div class="full-height-scroll white-bg border-left">

            <div class="element-detail-box">

                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">

                        <div class="pull-right">
                            <div class="tooltip-demo">
                                <button class="btn btn-white btn-xs" data-toggle="tooltip"
                                data-placement="left" title="Set Lesson to visible">
                                <i class="fa fa-plug"></i>Go Live!</button>
                                <button class="btn btn-white btn-xs" data-toggle="tooltip"
                                data-placement="top" title="Mark as read">
                                <i class="fa fa-eye"></i> </button>
                                <button class="btn btn-white btn-xs" data-toggle="tooltip"
                                data-placement="top" title="" data-original-title="Mark as important">
                                <i class="fa fa-exclamation"></i> </button>
                                <button class="btn btn-white btn-xs" data-toggle="tooltip"
                                data-placement="top" title="" data-original-title="Delete">
                                <i class="fa fa-trash-o"></i> </button>

                            </div>
                        </div>
                        <div class="small text-muted">
                            <i class="fa fa-clock-o"></i> Friday, 12 April 2014, 12:32 am
                        </div>

                        <h1>
                            The Main Function in C++
                        </h1>

                        <p>
                         The main function is the basic function in a C++ program.
                        </p>
                        <p>
                            Below is an example that illustrates the power of
                            functions in C++ by taking arguments.
                        </p>

                        <textarea id="code1">

  // Code goes here

  // For demo purpose - animation css script
  function animationHover(element, animation) {
      element = $(element);
      element.hover(
              function () {
                  element.addClass('animated ' + animation);
              },
              function () {
                  //wait for animation to finish before removing classes
                  window.setTimeout(function () {
                      element.removeClass('animated ' + animation);
                  }, 2000);
              });
  }

                        </textarea>

                        <p class="small">
                            <strong>Best regards, Anthony Smith </strong>
                        </p>

                        <div class="m-t-lg">
                            <p>
                                <span><i class="fa fa-paperclip"></i> 2 attachments - </span>
                                <a href="#">Download all</a>
                            </p>

                            <div class="attachment">
                                <div class="file-box">
                                    <div class="file">
                                        <a href="#">
                                            <span class="corner"></span>

                                            <div class="icon">
                                                <i class="fa fa-file"></i>
                                            </div>
                                            <div class="file-name">
                                                Lesson1.doc
                                                <br>
                                                <small>Added: Jan 11, 2014</small>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                                <div class="file-box">
                                    <div class="file">
                                        <a href="#">
                                            <span class="corner"></span>

                                            <div class="icon">
                                                <i class="fa fa-line-chart"></i>
                                            </div>
                                            <div class="file-name">
                                                Data.xls
                                                <br>
                                                <small>Added: May 13, 2015</small>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>

                    <div id="tab-2" class="tab-pane">
                      <div class="pull-right">
                          <div class="tooltip-demo">
                              <button class="btn btn-white btn-xs" data-toggle="tooltip"
                              data-placement="left" title="Set Lesson to visible">
                              <i class="fa fa-plug"></i>Go Live!</button>
                              <button class="btn btn-white btn-xs" data-toggle="tooltip"
                              data-placement="top" title="Mark as read">
                              <i class="fa fa-eye"></i> </button>
                              <button class="btn btn-white btn-xs" data-toggle="tooltip"
                              data-placement="top" title="" data-original-title="Mark as important">
                              <i class="fa fa-exclamation"></i> </button>
                              <button class="btn btn-white btn-xs" data-toggle="tooltip"
                              data-placement="top" title="" data-original-title="Delete">
                              <i class="fa fa-trash-o"></i> </button>

                          </div>
                      </div>
                        <div class="small text-muted">
                            <i class="fa fa-clock-o"></i> Monday, 21 May 2014, 10:32 am
                        </div>

                        <h1>
                            The European languages - same family.
                        </h1>

                        <p>
                            The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
                        </p>
                        <p>
                            To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.
                        </p>

                        <div class="m-t-lg">
                          <div class="ibox-content">
                              <h2>Language map</h2>
                              <small>This is simple example of map</small>
                              <div id="world-map" style="height: 500px;"></div>
                          </div>
                        </div>
                    </div>

                    <div id="tab-3" class="tab-pane">
                      <div class="pull-right">
                          <div class="tooltip-demo">
                              <button class="btn btn-white btn-xs" data-toggle="tooltip"
                              data-placement="left" title="Set Lesson to visible">
                              <i class="fa fa-plug"></i>Go Live!</button>
                              <button class="btn btn-white btn-xs" data-toggle="tooltip"
                              data-placement="top" title="Mark as read">
                              <i class="fa fa-eye"></i> </button>
                              <button class="btn btn-white btn-xs" data-toggle="tooltip"
                              data-placement="top" title="" data-original-title="Mark as important">
                              <i class="fa fa-exclamation"></i> </button>
                              <button class="btn btn-white btn-xs" data-toggle="tooltip"
                              data-placement="top" title="" data-original-title="Delete">
                              <i class="fa fa-trash-o"></i> </button>

                          </div>
                      </div>
                        <div class="small text-muted">
                            <i class="fa fa-clock-o"></i> Tuesday, 15 May 2014, 10:32 am
                        </div>

                        <h1>
                          Microsoft in 2019
                        </h1>

                        <div class="row">
                            <div class="col-lg-6">
                              <figure>
                                  <iframe width="425" height="349" src="http://www.youtube.com/embed/bwj2s_5e12U" frameborder="0" allowfullscreen></iframe>
                              </figure>
                            </div>

                            <div class="col-lg-6">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Video description</h5>
                                    </div>
                                    <div class="ibox-content profile-content">
                                        <h4><strong>Microsoft's Concept of How 2019 Will Look Like - Official Video</strong></h4>
                                        <p><i class="fa fa-clock-o"></i> Uploaded on October 27, 2011</p>
                                        <h5>
                                            Science and Technology
                                        </h5>
                                        <p>
                                            What do you think the world will look like in 2019? Predicting future trends is usually done poorly by Analysts so company's seem to want to give consumer a glimpse of what
                                            they want the future to look like.
                                            <br />
                                            <br />
                                            <small>Microsoft has just released a video showcasing magical<br /> gadget after magical gadget.</small>
                                            <br />
                                            <br />
                                            Earlier this month "Microsoft Office Labs Vision 2019,"
                                            was released and now we have "Productivity Future Vision (2011)". Both are inspiring and beautifully edited.
                                        </p>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div id="tab-4" class="tab-pane">
                        <div class="pull-right">
                            <div class="tooltip-demo">
                                <button class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="left" title="Plug this message"><i class="fa fa-plug"></i> Plug it</button>
                                <button class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> </button>
                                <button class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mark as important"><i class="fa fa-exclamation"></i> </button>
                                <button class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Move to trash"><i class="fa fa-trash-o"></i> </button>

                            </div>
                        </div>
                        <div class="small text-muted">
                            <i class="fa fa-clock-o"></i> Thursday, 27 april 2014, 10:32 am
                        </div>

                        <h1>
                            Gregor Samsa woke from troubled dreams.
                        </h1>

                        <p>
                            His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
                        </p>
                        <p>
                            To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.
                        </p>
                        <p>
                            Travelling day in and day out. Doing business like this takes much more effort than doing your own business at home, and on top of that there's the curse of travelling, worries about making train connections, bad and irregular food, contact with different people all the time so that you can never get to know anyone or become friendly with them.
                        </p>

                        <p>
                            The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
                        </p>
                        <p>
                            To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.
                        </p>
                        <p class="small">
                            <strong>Best regards, Anthony Smith </strong>
                        </p>

                        <div class="m-t-lg">
                            <p>
                                <span><i class="fa fa-paperclip"></i> 2 attachments - </span>
                                <a href="#">Download all</a>
                                |
                                <a href="#">View all images</a>
                            </p>

                            <div class="attachment">
                                <div class="file-box">
                                    <div class="file">
                                        <a href="#">
                                            <span class="corner"></span>

                                            <div class="icon">
                                                <i class="fa fa-file"></i>
                                            </div>
                                            <div class="file-name">
                                                Document_2014.doc
                                                <br>
                                                <small>Added: Jan 11, 2014</small>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                                <div class="file-box">
                                    <div class="file">
                                        <a href="#">
                                            <span class="corner"></span>

                                            <div class="icon">
                                                <i class="fa fa-line-chart"></i>
                                            </div>
                                            <div class="file-name">
                                                Seels_2015.xls
                                                <br>
                                                <small>Added: May 13, 2015</small>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>



</div>

<% content_for :javascript do %>

<script type="text/javascript">

var ready = function() {
  var editor_one = CodeMirror.fromTextArea(document.getElementById("code1"), {
      lineNumbers: true,
      matchBrackets: true,
      styleActiveLine: true,
      theme: "ambiance"
  });

  var mapData = {
      "US": 498,
      "SA": 200,
      "CA": 1300,
      "DE": 220,
      "FR": 540,
      "CN": 120,
      "AU": 760,
      "BR": 550,
      "IN": 200,
      "GB": 120,
      "RU": 2000
  };

  $('#world-map').vectorMap({
      map: 'world_mill_en',
      backgroundColor: "transparent",
      regionStyle: {
          initial: {
              fill: '#e4e4e4',
              "fill-opacity": 1,
              stroke: 'none',
              "stroke-width": 0,
              "stroke-opacity": 0
          }
      },
      series: {
          regions: [{
              values: mapData,
              scale: ["#1ab394", "#22d6b1"],
              normalizeFunction: 'polynomial'
          }]
      },
  });
};

  $(document).on('webkitfullscreenchange mozfullscreenchange fullscreenchange', function (e){
      $('body').hasClass('fullscreen-video') ? $('body').removeClass('fullscreen-video') : $('body').addClass('fullscreen-video')
  });

$(document).ready(ready);
$(document).on('page:load', ready);


// $(function() {
//
//
//
//
// });



</script>

<% end %>
