<% provide(:title, "My Lessons") %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>My Lessons</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">


<div class="ibox-content m-b-sm border-bottom">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="order_id">Lesson Name</label>
                <input type="text" id="order_id" name="order_id" value=""
                placeholder="Lesson Name" class="form-control">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="status">Used in</label>
                <input type="text" id="status" name="status" value=""
                placeholder="Used in" class="form-control">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="customer">Status</label>
                <input type="text" id="customer" name="customer" value=""
                placeholder="Status" class="form-control">
            </div>
        </div>
    </div>
    <p><%= link_to "Create New Lesson", lessons_lesson_path,
    class: "btn btn-primary btn-md" %></p>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">

                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                    <thead>
                    <tr>

                        <th>Lesson Name</th>
                        <th data-hide="phone">Used in</th>
                        <th data-hide="phone">Date added</th>
                        <th data-hide="phone,tablet" >Date modified</th>
                        <th data-hide="phone">Status</th>
                        <th class="text-right">Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            History 101 Lesson 1
                        </td>
                        <td>
                            History 101
                        </td>
                        <td>
                            03/04/2015
                        </td>
                        <td>
                            03/25/2015
                        </td>
                        <td>
                            <span class="label label-primary">Active</span>
                        </td>
                        <td class="text-right">
                            <div class="btn-group">
                              <%= link_to "View", lessons_lesson_path,
                              class: "btn-white btn btn-xs" %>
                              <%= link_to "Edit", lessons_lesson_path,
                              class: "btn-white btn btn-xs" %>
                              <button class="btn-white btn btn-xs demo_lesson"
                              data-toggle="tooltip"
                              data-placement="top" title=""
                              data-original-title="Move to trash">
                               Delete</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Math 2 Lesson 1
                        </td>
                        <td>
                            History 101
                        </td>
                        <td>
                            03/04/2015
                        </td>
                        <td>
                            03/25/2015
                        </td>
                        <td>
                            <span class="label label-primary">Active</span>
                        </td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button class="btn-white btn btn-xs">View</button>
                                <button class="btn-white btn btn-xs">Edit</button>
                                <button class="btn-white btn btn-xs">Delete</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Geology 10 Lesson 1
                        </td>
                        <td>
                            History 101
                        </td>
                        <td>
                            03/04/2015
                        </td>
                        <td>
                            03/25/2015
                        </td>
                        <td>
                            <span class="label label-warning">Inactive</span>
                        </td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button class="btn-white btn btn-xs">View</button>
                                <button class="btn-white btn btn-xs">Edit</button>
                                <button class="btn-white btn btn-xs">Delete</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            History 101 Lesson 2
                        </td>
                        <td>
                            History 101
                        </td>
                        <td>
                            03/04/2015
                        </td>
                        <td>
                            03/25/2015
                        </td>
                        <td>
                            <span class="label label-warning">Inactive</span>
                        </td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button class="btn-white btn btn-xs">View</button>
                                <button class="btn-white btn btn-xs">Edit</button>
                                <button class="btn-white btn btn-xs">Delete</button>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>


</div>
<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.footable').footable();

});

</script>

<% end %>
